<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Danh s치ch Nh칩m</title>
</head>
<body>
  <h1>Danh s치ch Nh칩m</h1>
  <ul>
    <% nhomList.forEach(nhom => { %>
      <li><a href="/api/sanpham/nhom/<%= nhom.idnhom %>"><%= nhom.ten %></a></li>
    <% }) %>
  </ul>
</body>
</html>
